body {
    background-color: rgb(162, 200, 216);
}

div {
    margin: 50px;
    text-align: center;
}

p {
    color: rgb(68, 71, 72);
    font-family: Arial;   
}

a:hover {
    color: red; 
}


.header {
    color: rgb(68, 71, 72);
    font-family: Arial;
    text-align: center;
    border: 2px solid rgb(81, 123, 240);
    padding: 10px;
}

#titles {
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}

