body {
    background-color: rgb(162, 200, 216);
}

div {
    margin: 50px;
}

p {
    color: rgb(68, 71, 72);
    font-family: Arial;   
}

.header {
    color: rgb(68, 71, 72);
    font-family: Arial;
    text-align: center;
}

#titles {
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}

