
div {
    margin: 50px;
    text-align: center;
}

p {
    color: rgb(68, 71, 72);
    font-family: Arial;   
}

h3 {
    border: 3px solid rgb(81, 123, 240);
    padding: 10px;
}

a:hover {
    color: red; 
}


.header {
    color: rgb(68, 71, 72);
    font-family: Arial;
    text-align: center;
}

#titles {
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}

